* {
	box-sizing: border-box;
	//font: 13px/26px "Helvetica Neue", Verdana, sans-serif;
}


nav {
	border: 1px solid red;
	padding: 5px auto;
}

ul{
	border: 1px solid blue;
	list-style: none;
	width: 96%;
	margin: 1% auto;
	padding: 2px auto;

	li{
		display: inline-block;
		margin: 1% auto;
		padding: 2px auto;
		border: 1px solid black;
		height: 2em;
		width: 10%;
		text-align: center;
	}
}

.month{
	text-align: center;
	display: block;

}


