* {
	box-sizing: border-box;
	//font: 13px/26px "Helvetica Neue", Verdana, sans-serif;
}

nav {
	border: 2px solid red;
}

ul{
	list-style: none;

	li{
		display: inline-block;
		margin: 2px auto;
		padding: 2px;
		border: 2px solid black;
		height: 2em;
		width: 12%;
		text-align: center;
	}
}

.month{
	text-align: center;
	display: block;

}


